.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-size {
  width: 110px;
  height: 110px;
  object-fit: cover;
}

.logo-size-app {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.bg-edenor {
  background: rgb(0, 56, 0);
  background: linear-gradient(
    45deg,
    rgba(0, 56, 0, 1) 0%,
    rgba(29, 156, 75, 1) 32%,
    rgba(52, 100, 179, 1) 66%,
    rgba(0, 42, 70, 1) 100%
  );
}
